@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Document Tracking System - @ViewData["Title"] </title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Toaster -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.12.0/toastify.min.css" integrity="sha512-k+xZuzf4IaGQK9sSDjaNyrfwgxBfoF++7u6Q0ZVUs2rDczx9doNZkYXyyQbnJQcMR4o+IjvAcIj69hHxiOZEig==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.14/sweetalert2.min.css" integrity="sha512-NvuRGlPf6cHpxQqBGnPe7fPoACpyrjhlSNeXVUY7BZAj1nNhuNpRBq3osC4yr2vswUEuHq2HtCsY2vfLNCndYA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>
    <link rel='stylesheet' href='https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css'>
    <link rel='stylesheet' href='https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css'>
    
    <!-- Checkboxes -->
    <link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" rel="stylesheet" />
    
    <!-- Quill Editor -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.snow.css" rel="stylesheet">
    
    <!-- Toaster -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    
    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet"> 
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

<div class="d-flex align-items-center justify-content-between">
    <a asp-area="User" asp-controller = "Document" asp-action = "Index" class="logo d-flex align-items-center">
        <img src="~/assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">DTS</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
</div><!-- End Logo -->

 

<nav class="header-nav ms-auto">
<ul class="d-flex align-items-center">
 
 
<li class="nav-item ">
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-arrow-down-square"></i>
            <span class="badge bg-primary badge-number" style="background-color: #9251ac !important;">@ViewData["Incoming"]</span>
          </a><!-- End Notification Icon -->
</li> 
<li class="nav-item ">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-arrow-up-square"></i>
            <span class="badge bg-primary badge-number" style="background-color: #24b47e !important;">@ViewData["Forwarded"]</span>
          </a><!-- End Notification Icon -->
 
</li> 
<li class="nav-item ">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-envelope-open"></i>
            <span class="badge bg-primary badge-number" style="background-color: #F7AB48 !important;">@ViewData["Received"]</span>
          </a><!-- End Notification Icon -->
 
</li>
<li class="nav-item ">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-check-square"></i>
            <span class="badge bg-primary badge-number" style="background-color: #555ac0 !important;">@ViewData["Completed"]</span>
          </a><!-- End Notification Icon -->
 
</li> 

<li class="nav-item dropdown pe-3">

    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
 
        <span class="d-none d-md-block dropdown-toggle ps-2">@ViewData["FirstName"] @ViewData["LastName"]</span>
    </a><!-- End Profile Iamge Icon -->

    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
        <li class="dropdown-header">
            <h6>@ViewData["FirstName"] @ViewData["LastName"]</h6>
            <span>@ViewData["DepartmentShort"]</span>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>

        <li>
            <a class="dropdown-item d-flex align-items-center" asp-area="User" asp-controller = "PersonalInformation" asp-action = "Index">
                <i class="bi bi-person"></i>
                <span>Personal Information</span>
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
         
        <li>
            <a class="dropdown-item d-flex align-items-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" >
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
            </a>
        </li>

    </ul><!-- End Profile Dropdown Items -->
</li><!-- End Profile Nav -->

</ul>
</nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li>
            <a class="nav-link "   asp-area="User" asp-controller = "Document" asp-action = "Index">
                  <i class="bi bi-folder"></i><span>Manage Documents</span>
            </a>
             
        </li><!-- End Components Nav -->
        
        
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#students-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-check"></i><span>Documents Status</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="students-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a  asp-area="User" asp-controller="DocumentStatus" asp-action="Incoming">
                        <i class="bi bi-circle"></i><span>Incoming</span>
                    </a>
                </li>
                <li>
                    <a asp-area="User" asp-controller="DocumentStatus" asp-action="Outgoing">
                        <i class="bi bi-circle"></i><span>Outgoing</span>
                    </a>
                </li>
                <li>
                    <a  asp-area="User" asp-controller="DocumentStatus" asp-action="Received">
                        <i class="bi bi-circle"></i><span>Received</span>
                    </a>
                </li>
                <li>
                    <a  asp-area="User" asp-controller="DocumentStatus" asp-action="Completed">
                        <i class="bi bi-circle"></i><span>Completed</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Components Nav -->
          
        
        <li class="nav-item">
            <a class="nav-link "  asp-area="User" asp-controller = "PersonalInformation" asp-action = "Index">
                   <i class="bi bi-person"></i><span>Personal Information</span> 
            </a>
                     
        </li><!-- End Components Nav -->
         <li class="nav-item">
                <a class="nav-link "  asp-area="User" asp-controller = "TrackingHistory" asp-action = "Index">
                       <i class="bi bi-person"></i><span>Transaction History</span> 
                </a>
         </li><!-- End Components Nav -->
        
        
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/">
                <i class="bi bi-box-arrow-in-left
     "></i>
                <span>Logout</span>
            </a>
        </li><!-- End Dashboard Nav -->
        
    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>@ViewData["Title"] </h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-area="User" asp-controller = "Document" asp-action = "Index">Home</a>
                </li>
                <li class="breadcrumb-item active">@ViewData["Title"] </li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-12">
                <div class="row">
                    <!-- Reports -->
                    <div class="col-12">
                        @RenderBody()
                    </div><!-- End Reports -->
                </div>
            </div><!-- End Left side columns -->
        </div>
    </section>

</main><!-- End #main -->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>

<!-- Vendor JS Files -->
<script src="https://code.jquery.com/jquery-3.5.1.js" asp-append-version="true"></script>
<script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendor/chart.js/chart.umd.js"></script>
<script src="~/assets/vendor/echarts/echarts.min.js"></script>
<script src="~/assets/vendor/quill/quill.min.js"></script>
<script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="~/assets/vendor/php-email-form/validate.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.12.0/toastify.min.js" integrity="sha512-0Yc4Jv5wX4+mjDuLxmHFGqgDtMFAEBLpPq/0nPVmAOwHPMkYXiS1YVYWTcrVQztftk/32089DDTyrCJO8hBCZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Data Table -->

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js'></script>
<script src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js'></script>
<script src='https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js'></script>
<script src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js'></script>
<script src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js'></script>
<script src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js'></script>
<script src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js'></script>
<script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 

 

<!-- main JS -->

<script src="~/assets/js/main.js"></script>
<script src="~/js/app.js"></script>

@await RenderSectionAsync("Scripts", required: false)
<partial name="_ValidationScriptsPartial"/>
<partial name="_Notification"/>

</body>

</html>